body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 20px 0px 10px 0px;
}

p {
  margin: 0px 0px 20px 0px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 16px;
  border-radius: 999em;
  text-transform: uppercase;
}

.btn-fill {
  color: #FFF;
  background-color: #FF6E40;
}

.btn-fill:hover {
  background-color: #FF3D00;
}

.full-width {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}