body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0px 0px 10px 0px;
}

p {
  margin: 0px 0px 20px 0px;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.content {
  padding-top: 42px;
}

.full-width {
  width: 100%;
  margin: auto;
  max-width: 1104px;
}

.btn {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 16px;
  border-radius: 999em;
  text-transform: uppercase;
}

.btn.btn-fill {
  color: #FFF;
  background-color: #FF6E40;
}

.btn-fill:hover {
  background-color: #FF3D00;
}

.btn-nav {
  height: 40px;
  line-height: 40px;
  border-radius: 0px;
  text-transform: capitalize;
  border-bottom: 2px solid #FFFFFF;
}

.btn-nav:hover {
  border-bottom: 2px solid #FF3D00;
}

.btn-nav.selected {
  border-bottom: 2px solid #FF3D00;
}